# C.Vaithishwaran
 Pondicherry Engineering College
# Practice1

1. A company decided to give bonus of 5% to employee if his/her year of service is
more than 5 years. Ask user for their salary and year of service and print the net
bonus amount.

In [19]:
sal=int(input('Enter your salary: '))
s=int(input('Enter your year of service: '))
e=5
if s > e:
    bonus=(sal*.05)
    print('The bonus amount is',bonus)
    print(bonus)
else:
    print('your year of service is less than 5 years')

Enter your salary: 20000
Enter your year of service: 8
The bonus amount is 1000.0
1000.0

2. A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade

In [17]:
m=int(input('Enter the mark:'))
if m<25:
    print('The grade is F')
elif m<=45:
          print('The grade is E')
elif m<=50:
    print('The grade is D')
elif m<=60:
    print('The grade is C')
elif m<=80:
    print('The grade is B')
else:
    print('The grade is A')

Enter the mark:88
The grade is A

3. A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.

In [16]:
classh=int(input('Number of classes held:'))
classa=int(input('Number of classes attended:'))
per=int((classa/classh)*100)
print('Percentage of class attended',per,'%')
if per<75:
    print('Student is not allowed to sit in exam')
else:
        print('Student is allowed to sit in exam')

Number of classes held:100
Number of classes attended:100
Percentage of class attended 100 %
Student is allowed to sit in exam

4. Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using
following rules print their place of service.
if employee is female, then she will work only in urban areas.
if employee is a male and age is in between 20 to 40 then he may work in anywhere
if employee is male and age is in between 40 t0 60 then he will work in urban areas
only.
And any other input of age should print "ERROR"

In [23]:
a=int(input('Enter age:'))
if type(a)!=int:
    print('ERROR')
else:
    s=input('Enter sex (M or F):')
    s=s.upper()
    m=input('marital status (Y or N:)')
    m=m.upper()
    if (s=='F' or (s=='M' and a>=40 and a<=60)):
        print('Place of service:Urban areas')
    elif(s=='M' and  a>=20 and a<=40):
        print('Place of service:Anywhere')

Enter age:56
Enter sex (M or F):f
marital status (Y or N:)n
Place of service:Urban areas

5. Take 10 integers from keyboard using loop and print their average value on the
screen.

In [44]:
s=0
for i in range (10):
    n=int(input(('Enter the number',i+1)))
    s=s+n
a=s/10
print('Average value',a)

('Enter the number', 1)5
('Enter the number', 2)5
('Enter the number', 3)5
('Enter the number', 4)5
('Enter the number', 5)5
('Enter the number', 6)5
('Enter the number', 7)5
('Enter the number', 8)5
('Enter the number', 9)5
('Enter the number', 10)5
Average value 5.0

6. Write a program to calculate factorial of a number.

In [62]:
import math
n=int(input('Enter the number:'))
print('The factorial of the number is',math.factorial(n))

Enter the number:4
The factorial of the number is 24

7. Take integer inputs from user until he/she presses q ( Ask to press q to quit after
every integer input ). Print average and product of all numbers.

In [57]:
s=0
i=0
p=1
while 1:
    n=(input('Enter the number or press q to quiet:'))
    if n=='q':
        break;
    else:
        n=int(n)
        i=i+1
        s=s+n
        p=p*n
a=s/i
print('Average value is {} and product is {}'.format(a,p))

Enter the number or press q to quiet:2
Enter the number or press q to quiet:2
Enter the number or press q to quiet:2
Enter the number or press q to quiet:q
Average value is 2.0 and product is 8

8. A three digit number is called Armstrong number if sum of cube of its digit is equal to
number itself.
E.g.- 153 is an Armstrong number because (1^3)+(5^3)+(3^3) = 153.
Write all Armstrong numbers between 100 to 500.

In [16]:
for n in range(100,501):
    temp=n
    s=0
    while temp>0:
        digit=temp%10
        s=s+digit**3
        temp=temp//10

    if s==n:
        print(n)

153
370
371
407

9. Write a program to find the length of the string "refrigerator" without
using len function.

In [18]:
a='refrigerator'
n=0
for char in a:
    n=n+1
print(n)

12

10. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser, then the output should be R.B.Roser

In [16]:
name = input("Enter a name:") 
short = name.split()
print(short[0][0],short[1][0],short[2])

Enter a name:Robert Brett Roser
R B Roser